.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
data/simulations/*
!data/simulations/.gitkeep
data/temp/*
!data/temp/.gitkeep
!data/temp/temp_simdata_pr0.rds
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/
